<h1>ADD new message</h1>
<form method='POST' action='/new'>
    <label for="messageTxt">
        <input id="messageTxt" name="messageTxt" type="text" placeholder="message">
    </label>
    <label for="author">
        <input id="author" name="author" type="text" placeholder="tina">
    </label>
    <button type="submit">submit</button>
</form>