<html>
    <head>
        <title>home</title>
    </head>
    <h1><%= title %></h1>
    <body>
        <% messages.forEach(msg => { %>
            <p><%= msg.text %></p>
            <p><%= msg.user %></p>
            <p><%= msg.added.toLocaleString() %></p>                        
        <%})%>
        <a href="http://localhost:3000/new">new message</a>
    </body>
</html>