<html>
    <head>
        <title>home</title>
    </head>
    <h1><%= title %></h1>
    <body>
        <% messages.forEach(msg => { %>
            <p><%= msg.text %></p>
            <p><%= msg.user %></p>
            <p><%= msg.added.toLocaleString() %></p>                        
        <%})%>
        <form method="GET" action="/new/">
            <button type="submit">new message</button>
        </form>
    </body>
</html>